{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const loadMermaid = function (theme) {
      mermaid.initialize({ startOnLoad: false, theme });
      mermaid.init(undefined, document.querySelectorAll('.mermaid'));
    };

    let theme = localStorage.getItem('pref-theme');
    if (theme === 'dark') {
      loadMermaid('dark');
    } else {
      loadMermaid('neutral');
    }

    const toggle = document.getElementById('theme-toggle');
    if (toggle) {
      toggle.addEventListener('click', () => {
        let newTheme = mermaid.mermaidAPI.getConfig().theme === 'dark' ? 'neutral' : 'dark';
        mermaid.initialize({ startOnLoad: false, theme: newTheme });
        mermaid.init(undefined, document.querySelectorAll('.mermaid'));
      });
    }
  });
</script>
{{ end }}
